@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  display: flex;
  justify-content: unset;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff; }
  header .logo {
    margin-right: 100px; }
  header .search-box form {
    display: flex;
    position: relative; }
    header .search-box form input {
      border-radius: 30px;
      height: 40px;
      width: 400px; }
    header .search-box form i {
      position: absolute;
      top: 12px;
      opacity: 0.4;
      left: 12px; }
    header .search-box form .search-btn {
      position: absolute;
      right: 4px;
      top: 4px;
      border: 1px solid #000;
      background: transparent;
      font-size: 13px;
      padding: 8px 20px;
      border-radius: 30px; }
  header .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1; }
    header .right svg {
      cursor: pointer; }
    header .right .notification {
      position: relative; }
      header .right .notification .counter {
        position: absolute;
        top: 0px;
        right: -5px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #FE5557;
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 9px;
        align-items: center;
        line-height: 12px; }
      header .right .notification .dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        padding: 10px 15px;
        box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.1);
        width: 350px;
        display: none; }
        header .right .notification .dropdown h3 {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: #000;
          padding-bottom: 15px;
          margin-bottom: 20px;
          border-bottom: 1px solid #ddd; }
          header .right .notification .dropdown h3 a {
            text-decoration: none; }
        header .right .notification .dropdown li {
          display: flex;
          margin-bottom: 20px; }
          header .right .notification .dropdown li:last-child {
            margin-bottom: 0; }
          header .right .notification .dropdown li img {
            margin-right: 15px;
            width: 35px;
            height: 35px;
            object-fit: contain; }
          header .right .notification .dropdown li h4 {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 600; }
          header .right .notification .dropdown li p {
            font-size: 14px; }
          header .right .notification .dropdown li a {
            color: #000;
            text-decoration: none;
            display: block;
            padding: 10px 0;
            font-size: 13px; }
          header .right .notification .dropdown li span {
            flex: 1;
            text-align: right;
            font-size: 14px;
            opacity: 0.6; }
      header .right .notification:hover .dropdown {
        display: block; }
    header .right .profile-image {
      display: flex;
      margin-left: 45px;
      align-items: center;
      font-size: 14px;
      position: relative;
      cursor: pointer; }
      header .right .profile-image img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px; }
      header .right .profile-image svg {
        margin-left: 10px; }
      header .right .profile-image .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 10px 15px;
        box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.1);
        display: none; }
        header .right .profile-image .dropdown li a {
          color: #000;
          text-decoration: none;
          display: block;
          padding: 10px 0;
          font-size: 13px; }
      header .right .profile-image:hover .dropdown {
        display: block; }

.login-page {
  display: flex;
  height: 100vh;
  align-items: stretch; }
  .login-page .left,
  .login-page .right {
    width: 50%;
    flex: 1;
    position: relative; }
    @media only screen and (max-width: 991px) {
      .login-page .left,
      .login-page .right {
        width: 100%; } }
  .login-page .left {
    background-image: url(../images/flag.png);
    background-size: cover;
    padding: 50px; }
    .login-page .left .logo {
      width: 120px; }
    .login-page .left .content {
      position: absolute;
      bottom: 15%;
      right: 18%;
      width: 361px; }
      .login-page .left .content h1 {
        font-size: 32px;
        font-weight: 300;
        line-height: 39px;
        color: #fff;
        margin-bottom: 10px; }
        @media only screen and (max-width: 1199px) {
          .login-page .left .content h1 {
            font-size: 22px;
            line-height: 30px; } }
      .login-page .left .content p {
        font-size: 18px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.75); }
        @media only screen and (max-width: 1199px) {
          .login-page .left .content p {
            font-size: 14px;
            line-height: 20px; } }
      @media only screen and (max-width: 1300px) {
        .login-page .left .content {
          right: 50px;
          bottom: 10%; } }
      @media only screen and (max-width: 1199px) {
        .login-page .left .content {
          width: 320px;
          right: 10px;
          bottom: 50px; } }
      @media only screen and (max-width: 991px) {
        .login-page .left .content {
          position: static;
          margin: 30px auto 70px;
          width: auto;
          text-align: center;
          padding: 0 30px; } }
    @media only screen and (max-width: 1199px) {
      .login-page .left {
        padding: 25px; } }
    @media only screen and (max-width: 991px) {
      .login-page .left {
        padding: 15px;
        background-image: none;
        background-color: #2276bf; } }
  .login-page .right {
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-page .right .form-box {
      width: 400px; }
      .login-page .right .form-box h2 {
        font-size: 26px;
        line-height: 31px;
        color: #383838;
        padding-bottom: 40px; }
      .login-page .right .form-box form fieldset {
        margin-bottom: 20px;
        position: relative; }
        .login-page .right .form-box form fieldset label {
          font-size: 15px;
          padding-bottom: 10px;
          color: #383838; }
        .login-page .right .form-box form fieldset .form-control {
          height: 50px;
          font-size: 15px; }
        .login-page .right .form-box form fieldset .reset {
          position: absolute;
          font-size: 14px;
          bottom: 18px;
          right: 15px;
          text-decoration: none;
          color: #3586d0; }
      .login-page .right .form-box form .remember-me {
        display: flex;
        font-size: 14px; }
        .login-page .right .form-box form .remember-me input {
          margin-right: 10px; }
      .login-page .right .form-box form .btn {
        width: 100%;
        background-color: #F89021;
        color: #000;
        font-weight: 500;
        margin-top: 30px;
        height: 50px;
        border-radius: 10px;
        font-size: 14px;
        line-height: 28px; }
      .login-page .right .form-box .or {
        padding: 40px 0 20px;
        position: relative;
        text-align: center; }
        .login-page .right .form-box .or span {
          position: relative;
          z-index: 99;
          background-color: #fff;
          padding: 5px 10px;
          font-size: 14px;
          color: #787878;
          display: inline-block; }
        .login-page .right .form-box .or::before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: #ddd;
          position: absolute;
          top: 51px;
          left: 0; }
      @media only screen and (max-width: 991px) {
        .login-page .right .form-box {
          background-color: #fff;
          border-radius: 5px;
          margin-top: -40px;
          padding: 20px;
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
          margin-bottom: 40px; } }
      @media only screen and (max-width: 767px) {
        .login-page .right .form-box {
          width: 300px; } }
    .login-page .right p {
      font-size: 14px;
      text-align: center;
      color: #626262;
      font-weight: 600; }
    .login-page .right .google-login {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      font-size: 15px;
      color: #626262;
      border: 1px solid #ECECEC;
      border-radius: 10px;
      text-decoration: none;
      padding: 15px 0; }
      .login-page .right .google-login img {
        margin-right: 15px; }
  @media only screen and (max-width: 991px) {
    .login-page {
      flex-direction: column; } }

.sidebar {
  background-color: #081630;
  position: fixed;
  left: 0;
  width: 70px;
  height: 100vh;
  top: 0;
  z-index: 1;
  padding: 15px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar nav ul {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #000;
    border-radius: 30px;
    border: 1px solid #5A6680; }
    .sidebar nav ul li a {
      width: 40px;
      background-color: #000000;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sidebar nav ul li a svg path {
        fill: #5a6680; }
      .sidebar nav ul li a.active {
        background-color: #F89021; }
        .sidebar nav ul li a.active svg path {
          fill: #fff; }
  .sidebar .link {
    margin-top: 20px;
    display: block; }
    .sidebar .link a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sidebar .link a svg path {
        fill: #5a6680; }
      .sidebar .link a.active {
        background-color: #F89021; }
        .sidebar .link a.active svg path {
          fill: #fff; }

.content-box {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 30px;
  background-color: #E6E9F0;
  background-image: url(../images/bg-img.png);
  background-repeat: no-repeat;
  background-position: top right;
  min-height: calc(100vh - 58px);
  position: relative; }
  .content-box h3 {
    font-size: 20px;
    line-height: 27px;
    color: #383838;
    margin-bottom: 20px; }
  .content-box .what-new .card {
    overflow: hidden;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); }
    .content-box .what-new .card .card-body {
      padding: 0; }
    .content-box .what-new .card video {
      width: 100%;
      height: 400px;
      object-fit: cover; }
    .content-box .what-new .card p {
      font-size: 18px;
      line-height: 30px;
      padding: 15px; }
    .content-box .what-new .card .bottom-part {
      padding: 0 15px 15px;
      display: flex;
      justify-content: space-between; }
      .content-box .what-new .card .bottom-part .left,
      .content-box .what-new .card .bottom-part .right {
        display: flex; }
      .content-box .what-new .card .bottom-part a {
        display: flex;
        align-items: center;
        margin-right: 30px;
        text-decoration: none;
        color: #72778A; }
        .content-box .what-new .card .bottom-part a svg {
          margin-right: 10px; }
  .content-box .top-stories .story-box {
    margin-bottom: 30px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); }
    .content-box .top-stories .story-box a {
      display: flex;
      background-color: #fff;
      border-radius: 8px;
      text-decoration: none; }
      .content-box .top-stories .story-box a .content {
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .content-box .top-stories .story-box a .content p {
          color: #383838;
          font-size: 16px;
          line-height: 22px;
          padding-bottom: 15px; }
      .content-box .top-stories .story-box a span {
        font-size: 13px;
        color: #72778A; }
        .content-box .top-stories .story-box a span svg {
          margin-right: 10px; }
  .content-box .today-blog .card-body {
    padding: 25px 30px; }
  .content-box .today-blog span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6B778C;
    display: block;
    margin-bottom: 10px; }
  .content-box .today-blog h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #333333;
    margin-bottom: 20px; }
  .content-box .today-blog .social-media a {
    text-decoration: none;
    display: inline-block;
    margin-right: 15px; }
  .content-box .today-blog .content-box-right p {
    font-size: 18px;
    line-height: 28px;
    width: 90%;
    margin-bottom: 30px; }
  .content-box .today-blog .user {
    display: flex; }
    .content-box .today-blog .user img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      margin-right: 15px;
      border-radius: 50%; }
    .content-box .today-blog .user .user-name h6 {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #1B1B1B;
      margin-bottom: 5px; }
    .content-box .today-blog .user p {
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      color: #474747;
      width: auto; }
  .content-box .today-blog .comment-box h5 {
    font-size: 14px; }
    .content-box .today-blog .comment-box h5 a {
      text-decoration: none; }
  .content-box .today-blog .comment-box .comment {
    display: flex;
    margin-top: 20px;
    align-items: flex-end; }
    .content-box .today-blog .comment-box .comment .comment-input {
      flex: 1; }
    .content-box .today-blog .comment-box .comment input {
      margin-left: 15px;
      border: none;
      width: 100%;
      border-bottom: 1px solid #ddd; }
  .content-box .more-from h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 20px 0 20px;
    display: block; }

.blog-box {
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  background-color: #fff;
  position: relative; }
  .blog-box .blog-content {
    position: relative; }
    .blog-box .blog-content .add {
      position: absolute;
      top: 0;
      right: 10px;
      height: 25px;
      width: 25px;
      display: block;
      background: #f89021;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border-radius: 3px;
      line-height: 25px;
      font-size: 20px; }
  .blog-box img,
  .blog-box video {
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px; }
  .blog-box span {
    display: block;
    padding: 0 15px 10px;
    color: #878787;
    font-size: 13px;
    line-height: 16px; }
  .blog-box p {
    padding: 0 15px 15px;
    font-size: 18px;
    line-height: 26px;
    color: #494949; }

.card {
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; }

.login-page-new {
  display: flex;
  height: 100%;
  padding-bottom: 30px; }
  .login-page-new .form-box {
    background-color: #fff;
    border-radius: 8px;
    width: 480px;
    height: fit-content;
    margin: 0 auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    padding: 30px; }
    .login-page-new .form-box .login-text a {
      text-decoration: none;
      font-size: 14px;
      display: block;
      padding-top: 10px; }
    .login-page-new .form-box h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px; }
    .login-page-new .form-box form fieldset {
      margin-bottom: 20px;
      position: relative; }
      .login-page-new .form-box form fieldset label {
        font-size: 15px;
        padding-bottom: 10px;
        color: #383838; }
      .login-page-new .form-box form fieldset .form-control {
        height: 50px;
        font-size: 15px; }
      .login-page-new .form-box form fieldset .reset {
        position: absolute;
        font-size: 14px;
        bottom: 18px;
        right: 15px;
        text-decoration: none;
        color: #3586d0; }
    .login-page-new .form-box form .remember-me {
      display: flex;
      font-size: 14px; }
      .login-page-new .form-box form .remember-me input {
        margin-right: 10px; }
    .login-page-new .form-box form .btn {
      width: 100%;
      background-color: #F89021;
      color: #000;
      font-weight: 500;
      margin-top: 30px;
      height: 50px;
      border-radius: 10px;
      font-size: 14px;
      line-height: 28px; }
    .login-page-new .form-box .or {
      padding: 40px 0 20px;
      position: relative;
      text-align: center; }
      .login-page-new .form-box .or span {
        position: relative;
        z-index: 99;
        background-color: #fff;
        padding: 5px 10px;
        font-size: 14px;
        color: #787878;
        display: inline-block; }
      .login-page-new .form-box .or::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ddd;
        position: absolute;
        top: 51px;
        left: 0; }
    @media only screen and (max-width: 991px) {
      .login-page-new .form-box {
        background-color: #fff;
        border-radius: 5px;
        margin-top: -40px;
        padding: 20px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 40px; } }
    @media only screen and (max-width: 767px) {
      .login-page-new .form-box {
        width: 300px; } }
    .login-page-new .form-box p {
      font-size: 14px;
      text-align: center;
      color: #626262;
      font-weight: 600; }
    .login-page-new .form-box .google-login {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      font-size: 15px;
      color: #626262;
      border: 1px solid #ECECEC;
      border-radius: 10px;
      text-decoration: none;
      padding: 15px 0; }
      .login-page-new .form-box .google-login img {
        margin-right: 15px; }

.profile-page h3 {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 50px; }
.profile-page .profile-pic {
  display: flex;
  margin-bottom: 30px;
  align-items: center; }
  .profile-page .profile-pic img {
    margin-right: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; }
  .profile-page .profile-pic .upload-pic {
    display: flex;
    flex-direction: column; }
    .profile-page .profile-pic .upload-pic label {
      font-size: 14px;
      border-radius: 5px;
      color: #4E4E4E;
      font-weight: 500;
      padding: 6px 15px;
      cursor: pointer;
      background-color: #fff; }
      .profile-page .profile-pic .upload-pic label.change-pic {
        position: relative;
        color: #000;
        background-color: #F89021;
        margin-bottom: 10px; }
        .profile-page .profile-pic .upload-pic label.change-pic input {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: 9;
          cursor: pointer;
          width: 100%;
          height: 100%; }
      .profile-page .profile-pic .upload-pic label svg {
        margin-right: 5px; }
.profile-page fieldset {
  margin-bottom: 30px; }
  .profile-page fieldset label {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 10px; }
  .profile-page fieldset .form-control {
    height: 50px;
    border: none; }
.profile-page .gender {
  display: flex;
  margin-bottom: 30px; }
  .profile-page .gender .input-box {
    position: relative;
    margin-right: 15px; }
    .profile-page .gender .input-box input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      z-index: 99;
      opacity: 0; }
      .profile-page .gender .input-box input:checked + label {
        background-color: #F58003;
        color: #fff; }
        .profile-page .gender .input-box input:checked + label svg path {
          fill: #fff; }
        .profile-page .gender .input-box input:checked + label span {
          display: inline-block; }
  .profile-page .gender label {
    width: 144px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px; }
    .profile-page .gender label svg {
      margin-bottom: 15px;
      width: 30px !important;
      height: 30px !important; }
    .profile-page .gender label span {
      display: none;
      width: 14px;
      height: 7px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(-45deg);
      position: absolute;
      top: 10px;
      right: 10px; }
.profile-page .terms {
  width: 437px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px; }
.profile-page .action-btn {
  padding-bottom: 30px; }
  .profile-page .action-btn .btn {
    background-color: #fff;
    margin-right: 15px;
    padding: 7px 25px;
    font-size: 14px; }
    .profile-page .action-btn .btn.update {
      background-color: #F89021;
      color: #000; }

.light-theme .sidebar {
  background-color: #DEDEDE; }
  .light-theme .sidebar nav ul {
    background-color: #C4C4C4;
    border-color: #C4C4C4; }
    .light-theme .sidebar nav ul li a {
      background-color: #C4C4C4; }
      .light-theme .sidebar nav ul li a svg path {
        fill: #000; }
      .light-theme .sidebar nav ul li a.active {
        background-color: #999999; }
        .light-theme .sidebar nav ul li a.active svg path {
          fill: #fff; }

footer {
  display: flex;
  padding: 20px 30px 20px 90px;
  background-color: #000;
  color: #fff;
  justify-content: space-between; }
  footer p {
    color: #AFAFAF;
    font-size: 13px;
    line-height: 16px; }
    footer p a {
      text-decoration: none; }
  footer ul {
    display: flex; }
    footer ul li {
      margin-left: 20px; }
      footer ul li a {
        color: #AFAFAF;
        font-size: 13px;
        line-height: 16px;
        text-decoration: none; }

.light-theme footer {
  background-color: #A6A6A6;
  color: #000; }
  .light-theme footer p {
    color: #000; }
  .light-theme footer ul li a {
    color: #000; }

/*# sourceMappingURL=style.css.map */
